// fonts
$mainFont: "Roboto", sans-serif;
$secondaryFont: "Raleway", sans-serif;

// light theme options
$mainTextColor: #212121;
$secondaryTextColor: #757575;
$mainLightBg: #ffffff;
$secondaryLightBg: #f5f4fa;

// dark theme options
$mainLightText: #ffffff;
$mainDarkBg: #2f303a;

// accent color 
$accentColor: #2196f3;
$accentHoverBtn: #188ce8;

// transition for animation 
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);