<section class="occupation section">
    <div class="container">
        <h2 class="title occupation__title">Чем мы занимаемся</h2>
        <ul class="list occupation__list">
            <li class="occupation__item">
                <picture>
                    <source srcset="
                                    ./images/work/pic-1.jpg,
                                    ./images/work/pic-1@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpeg">
                    <img class="occupation__img" src="./images/work/pic-1.jpg" alt="Рабочая атмосфера.Вариант 1"
                        width="370" height="294">
                </picture>
                <div class="occupation__overlay">
                    <h3 class="occupation__subtitle">Десктопные приложения</h3>
                </div>
            </li>
            <li class="occupation__item">
                <picture>
                    <source srcset="
                                    ./images/work/pic-2.jpg,
                                    ./images/work/pic-2@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpeg">
                    <img class="occupation__img" src="./images/work/pic-2.jpg" alt="Рабочая атмосфера.Вариант 2"
                        width="370" height="294">
                </picture>
                <div class="occupation__overlay">
                    <h3 class="occupation__subtitle">Мобильные приложения</h3>
                </div>
            </li>
            <li class="occupation__item">
                <picture>
                    <source srcset="
                                    ./images/work/pic-3.jpg,
                                    ./images/work/pic-3@2x.jpg 2x" media="(min-width: 1200px)" type="image/jpeg">
                    <img class="occupation__img" src="./images/work/pic-3.jpg" alt="Рабочая атмосфера.Вариант 3"
                        width="370" height="294">
                </picture>
                <div class="occupation__overlay">
                    <h3 class="occupation__subtitle">Дизайнерские решения</h3>
                </div>
            </li>
        </ul>
    </div>
</section>